<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saved Graphs</title>
    <link rel="icon" type="image/x-icon" href="delete.png">
    
    <link rel="stylesheet" href="app-pages.css" />
    <style>
      button {
        font-size: 20px;
      }
      
      .logout-btn {
        position: absolute;
        top: 0px;
        margin-left: 85%;
      }

      .main-title {
        font-size: 50px;
        text-align: center;
      }

      p:not(.hide), button {
        display: inline-block;
        position: relative;
        left: 100px;
      }
      button:not(.logout-btn) {
        float: right;
      }
      .delete-btn {
        margin-right: 15%;
      }
      hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 5px solid seagreen;
          margin: 1em 0;
          padding: 0;
      }
    </style>
  </head>
  <body>
      <a href="/home" class="small-logo">
        <img src="RegressionExpert-small-logo.png" alt="RegressionExpert"
      /></a>

      <div class="popup" id="popup">
        <h2>Are you sure you want to log out?</h2>
      
        <button type="button" onclick="closePopup()" class="no-btn">No</button>
        <button type="button" onclick="logout()" class="yes-btn">Yes</button>
      </div>
      <h1 class='main-title'>Load a previously saved graph</h1>
      <form id='user' action='/saved' method='post'>
        <input hidden id='username' name='username'>
        <input hidden id='isOK' name='isOK' value="<%= ok %>">
      </form>
      <div class="graph-list">
        <% for(let i = 0; i < btns.length; i++){ %>
          <p id="1<%= btns[i].points %>"><%= btns[i].name %></p>
          <p hidden id='2<%= btns[i].points %>' class="hide"><%= btns[i].regressions %></p>
          
          <button id="3<%= btns[i].points %>" class="delete-btn" onclick="delGraph(this.id)">Delete<img src="delete-icon.png" height='41' width='41'></button>
          <button id="<%= btns[i].points %>" class="edit-btn" onclick="getGraph(this.id)">Edit<img src="edit-icon.png"></button>
          <hr>
        <% }%>
      </div>
      <div hidden>
        <form id='del' action='/delete' method='post'>
          <input id='deluser' name='deluser'>
          <input id='delpts' name='delpts'>
          <input id='gname' name='gname'>
        </form>
      </div>
    <script>

      let popup = document.getElementById('popup')

      function openPopup(){
        popup.classList.add('open-popup')
      }

      function closePopup(){
        popup.classList.remove('open-popup')
      }

      function logout(){
        window.location.href = "index";
        localStorage.removeItem("username");
      }

      function getGraph(id){
        localStorage.setItem("points", id);
        localStorage.setItem("graph-name", document.getElementById('1'+id).innerText);
        localStorage.setItem("lines", document.getElementById('2'+id).innerText);
        window.location.href = "graph-editor";
      }

      function delGraph(id){
        id = id.substring(1);
        document.getElementById("delpts").value = id;
        const user = localStorage.getItem("username");
        document.getElementById("deluser").value = user;
        document.getElementById('gname').value = document.getElementById('1'+id).innerText;
        if(!confirm("Are you sure you want to delete '"+document.getElementById('gname').value+"'? This cannot be undone!")) {
          return;
        }
        let form = document.getElementById('del');
        form.submit();
      }

      const user = localStorage.getItem("username");
      let username = document.getElementById("username");
      username.value = user;
      let form = document.getElementById('user');
      form.submit();

      if(user == null){
        alert("You are not logged in. Please log in first. ");
        window.location.href = "index";
      }


    </script>
  </body>
</html>
